<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/images/homer.PNG" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/images/homer.PNG" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>