<%- include('partials/header'); -%>

<ul class="homers">
  <li class="homer">
    <img src="/images/homer.PNG" alt="homer1">
    <h4>Söökla söörik</h4>
    <p>Söörik on tiks</p>
  </li>
</ul>
<%- include('partials/footer'); -%>